<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699744279255-mqininaevdp6lfucmsp4vtm4j7sap4nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699744279255-mqininaevdp6lfucmsp4vtm4j7sap4nj</string>
	<key>API_KEY</key>
	<string>AIzaSyBe-3rCak4xCsu6IJPzd0qt0_lDAkywsg8</string>
	<key>GCM_SENDER_ID</key>
	<string>699744279255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smatii.readytofly</string>
	<key>PROJECT_ID</key>
	<string>smatii</string>
	<key>STORAGE_BUCKET</key>
	<string>smatii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699744279255:ios:91e0595516562a3b692e92</string>
</dict>
</plist>